

  <head>
      <meta charset="UTF-8">
      <title>Erreur 404 - Page non trouvée</title>
      <style>
          
          body {
              font-family: Arial, sans-serif;
              background-color: #f1f1f1;
          }
          
          h1 {
              font-size: 36px;
              color: #000;
              text-align: center;
              margin-top: 50px;
          }
          
          p {
              font-size: 18px;
              color: #666;
              text-align: center;
              margin-top: 20px;
          }
          
         
      </style>
  </head>
  <body>
      <h1>Erreur 404 - Page non trouvée</h1>
      <p>Désolé, la page que vous recherchez n'existe pas. Veuillez vérifier l'URL ou <a style=" color: #000;text-decoration: none;border-bottom: 2px solid #000;" href="/">Retourner à la page d'accueil</a>.</p>
  </body>

  